{% extends "base.html" %}

{% block content %}   

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card  shadow-sm border-0">
        <div class="card-header ">
          <h4 class="mb-0 ">Tomato Price Prediction</h4>
        </div>
        <div class="card-body ">
          <form method="post" action="/predict">
            <div class="row mt-3">
              <div class="mb-3 col-md-6">
                <label for="start_date" class="form-label"> Prediction Start</label>
                <input type="date" class="form-control" id="start_date" name="start_date" required>
              </div>

              <div class="mb-3 col-md-6">
                <label for="stop_date" class="form-label"> Prediction Stop</label>
                <input type="date" class="form-control" id="stop_date" name="stop_date" required>
              </div>
            </div>

            <div class="mb-3">
              <label for="CommName" class="form-label">Crop Type</label>
              <select class="form-control" id="CommName" name="CommName" required>
                  <option value="">Select a Crop</option>
                  {% for crop in crops %}
                      <option value="{{ crop }}">{{ crop }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="VarityName" class="form-label">Variety</label>
              <select class="form-control" id="VarityName" name="VarityName" required>
                  <option value="">Select a variety</option>
                  {% for variety in varieties %}
                      <option value="{{ variety}}">{{ variety}}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="AmcName" class="form-label">Amc Name</label>
              <select class="form-control" id="AmcName" name="AmcName" required>
                  <option value="">Select a Amc</option>
                  {% for amcname in amcnames %}
                      <option value="{{ amcname}}">{{ amcname}}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="YardName" class="form-label">Yard Name</label>
              <select class="form-control" id="YardName" name="YardName" required>
                  <option value="">Select a Yard</option>
                  {% for yardname in yardnames %}
                      <option value="{{ yardname }}">{{ yardname }}</option>
                  {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="Arrivals" class="form-label">Arrivals</label>
              <input type="number" class="form-control" id="Arrivals" name="Arrivals" required>
            </div>
            <button type="submit" class="btn btn-primary w-30"> Predict Prices</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% if predictions %}
    <div class="row justify-content-center mt-3">
    <div class="col-md-8">
      <div class="card shadow-sm border-0">
        <div class="card-body">
          <h3 class="mt-3">Prediction Results</h3>
            <div class="table-responsive iot-table">
              {{ predictions |safe }}
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
{% endif %}
{% endblock %}

 