{% extends "base.html" %}

{% block content %}   

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm border-0">
        <div class="card-header ">
          <h4 class="mb-0 text-outline-primary">Tomato Price Prediction</h4>
        </div>
        <div class="card-body">
          <form method="post" action="/predict">
            <div class="mb-3 w-50">
              <label for="seeding_date" class="form-label">Start Date</label>
              <input type="date" class="form-control" id="start_date" name="start_date" required>
            </div>

            <div class="mb-3 w-50">
              <label for="harvesting_date" class="form-label">End Date</label>
              <input type="date" class="form-control" id="End_date" name="End_date" required>
            </div>

            <div class="mb-3">
                <label for="crop_id" class="form-label">Crop Type</label>
                <select class="form-control" id="crop_id" name="crop_id" required>
                    <option value="">Select a crop</option>
                    <option value="1">Tomato Common </option>
                    <option value="2">Tomato Desi</option>
                    <option value="3">Tomato B1</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary w-30"> Predict Prices</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}

 