{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 mt-5">
      <div class="card shadow-sm border-0">
        <div class="card-header ">
          <h4 class="mb-0">IoT Dataset Generator</h4>
        </div>
        <div class="card-body">
          <form method="post" action="/generate">
            <div class="row">
              <div class="mb-3 w-50 col-md-6">
                <label for="seeding_date" class="form-label">Seeding Date</label>
                <input type="date" class="form-control" id="seeding_date" name="seeding_date" 
                      value="{{ seeding_date or '' }}" required>
              </div>

              <div class="mb-3 w-50 col-md-6">
                <label for="harvesting_date" class="form-label">Harvesting Date</label>
                <input type="date" class="form-control" id="harvesting_date" name="harvesting_date" 
                      value="{{ harvesting_date or '' }}" required>
              </div>
            </div>

            <div class="mb-3 w-50">
                <label for="crop_id" class="form-label">Crop Type</label>
                <select class="form-control" id="crop_id" name="crop_id" required>
                    <option value="">Select a crop</option>
                    <option value="1" {% if crop_id == '1' %}selected{% endif %}>Tomato Common</option>
                    <option value="2" {% if crop_id == '2' %}selected{% endif %}>Onion</option>
                    <option value="3" {% if crop_id == '3' %}selected{% endif %}>Potato</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary w-30">Generate Dataset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
    </div>
    {% if table %}
    <div class="row justify-content-center mt-3">
    <div class="col-md-11">
      <div class="card shadow-sm border-0">
        <div class="card-body">
            <div class="table-responsive">
              {{ table|safe }}
            </div>
            <a href="static/tomato_data.csv" class="btn btn-success mt-3" download>Download CSV</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    {% endif %}
  {% if plot_image %}
    <div class="row justify-content-center mt-3">
      <div class="col-md-11">
        <div class="card shadow-sm border-0">
          <div class="card-body">
            <img   style="max-width: 100%; object-fit: cover;object-position: center;overflow: hidden;" src="{{ url_for('static', filename=plot_image) }}" alt="IoT Sensor Plot" />
          </div>
        </div>
      </div>
    </div>
    {% for i in range(1, 5) %}
      <div class="row justify-content-center mt-3">
        <div class="col-md-11">
          <div class="card shadow-sm border-0">
            <div class="card-body">
              <div style="max-width: 100%; height:auto;max-height: 800px; overflow: auto;">
                <img style="max-width: 100%; object-fit: cover;object-position: center;overflow: hidden;" src="{{ url_for('static', filename=i ~ '.png') }}" alt="IoT Sensor Plot {{ i }}" style="width: auto; height: auto; max-width: none;" />
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const form = document.querySelector('form');
  const submitBtn = form.querySelector('button[type="submit"]');

  form.addEventListener('submit', function() {
    submitBtn.disabled = true;
    submitBtn.innerText = 'Generating...';
  });
</script>
{% endblock %}
