{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="section text-center">
    <h4 class="mb-4">IoT Device LCD Monitor</h4>

    <div class="lcd-box">
      <div class="lcd-title"></div>

      <div class="lcd-data">
        <span><strong>Date:</strong></span>
        <span id="date">2025-02-25</span>
      </div>
      <div class="lcd-data">
        <span><strong>Time:</strong></span>
        <span id="time">00:00 - 4:00</span>
      </div>
      <div class="lcd-data">
        <span><strong>Temperature:</strong></span>
        <span id="temperature">25°C</span>
      </div>
      <div class="lcd-data">
        <span><strong>Humidity:</strong></span>
        <span id="humidity">70%</span>
      </div>
      <div class="lcd-data">
        <span><strong>CO₂:</strong></span>
        <span id="co2">60 ppm</span>
      </div>
    </div>

    <button class="btn w-60 btn-primary" onclick="updateData()">Update Real-Time Data</button>
  </div>
</div>
{% endblock %}
